[submodule "golf/blackscreen"]
	path = golf/blackscreen
	url = https://github.com/Paradigm-MP/oof-blackscreen
[submodule "golf/events"]
	path = golf/events
	url = https://github.com/Paradigm-MP/oof-defaultevents
[submodule "golf/chat"]
	path = golf/chat
	url = https://github.com/Paradigm-MP/oof-chat
[submodule "golf/object-editor"]
	path = golf/object-editor
	url = https://github.com/Paradigm-MP/oof-object-editor
[submodule "golf/oof"]
	path = golf/oof
	url = https://github.com/Paradigm-MP/oof
